/* BODY */
html, body {
    background-image: url("../images/foggy_birds.png");
}

/* NAVBAR */
.navbar-brand {
    background: #4aaaaf;
}

.navbar-default .navbar-brand {
    color: white;
}


/*MAIN-CONTENT*/
.media-object {
    float: left;
    padding: 0 2% 2% 0;
}
.content {
    padding: 2%;
}
.paragraphs {
    padding: 0 0 0 0;
}

/* MAIN CONTENT SIDEBAR */
.side {
    max-width: 33%;
    padding: 2%;
    margin: 0 auto;
}
.side:hover{
    border-radius: 45px;
}
.side-bar {
    margin: 0 0 20% 0;
    text-align: center;
}
.panel-title {
    color: #4aaaaf;
}
.panel > .panel-heading {
    background-image: none;
    background-color: white;
}

/* MAIN CONTENT - CONTACT FORM */
.form-group {
    padding: 1% 2% 0 2%;
}

.btn {
    margin: 0 2% 2% 2%;
    background: #4aaaaf;
    border-color: #4aaaaf;
}


/*FOOTER*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #666666;
    border-top: 5px solid #4aaaaf;
}

.text-muted {
    color: #cecece;
}